@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


:root {
    /*color scheme*/
    --white-050:#fff;
    --white-100:#F7F9FA;
    --white-125:#F8F8F8;
    --white-150:#e0e2e2;
    --gray:#9e9d9d;
    --gray-dark:#66727c;
    --black:#222;

    --blue:#1DA1F2;
    --blue-dark:#1993df;
    --blue-light:#62b7ec17;
    --blue-light-dark:#62b7ec50;
    --green:#2ecc71;
    --red:#e74c3c;


    /*layout*/
    --page-main-padding-lr:1rem;
    
}


/*resets & default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;  
}

li {
    list-style-type: none;
}


img {
    display:block;
    max-width:100%;
}

button {
    border:none;
    background:none;
}

a {
    color:#1DA1F2;
    color:var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;

    /* background:rgba(128, 128, 128, 0.329); */
}




/*-----------------------------------------*/
/*-----------------------------------------*/
/*UNIVERSAL CLASSES THAT CAN BE OVERWRITTEN*/
.profile-user {
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}


/*hover & active states*/
.blue-light-hover,
.blue-dark-hover,
.gray-hover {
    transition: all 0.1s ease;
    cursor: pointer;
}

.blue-light-hover:hover {
    background-color:var(--blue-light);
    color:var(--blue);
    border-radius: 50px;
}

.blue-light-hover:active {
    background-color:var(--blue-light-dark);
}


.blue-dark-hover:hover {
    background-color:var(--blue-dark);
}

.gray-hover:hover {
    background-color:rgba(92, 92, 92, 0.137);
}

/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/







/*page*/
.page {
    display:grid;
    grid-template-columns:0.5fr 1.5fr 1fr;
    grid-column-gap: 1.75rem;
    width:95%;
    max-width:80rem;
    margin:0 auto;
}



/*page navbar*/
.page__navbar__icon-container {
    display:flex;
    align-items:center;
    margin:0.5rem 0;
}

.page__navbar__icon {
    font-size:1.5rem;
    width:auto;
    height:auto;
    padding:0.5rem;
    border-radius: 50%;
}
.page__navbar__icon-container:hover,
.fa-twitter:hover {
    border-radius: 50px;
}

.fa-twitter {
    color:#1DA1F2;
    color:var(--blue);
    font-size:2rem;
}

.navbar__icon-container-heading {
    font-size:1.2rem;
    margin-left:1rem;
}





/*page main*/
.page__main {
    border:1px solid var(--white-150);
    border-bottom: 0px;
    border-top:0px;
    height:100%;
}

/*back button on top of profile*/
.user-back-container {
    display:flex;
    margin:0.5rem 0rem 0.5rem 1rem;
}

.back-btn {
    width:40px;
    height:auto;
    margin-right:2rem;
}

.back-btn__link {
    color:#1DA1F2;
    color:var(--blue);
}

.back-btn__link__icon {
    font-size:1.125rem;
}

.user-back__heading {
    font-size:1.25rem;
}

.user-back__tweet-number {
    color:var(--gray);
    font-size:0.85rem;
}



/*profile*/
.profile {
    position: relative;
}

.thing {
    position: relative;
    width:100%;
    height:200px;
    background: #e74c3c;
}


.profile__background-img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}


.profile__user-hero {
    position: absolute;
    width:125px;
    height:125px;
    border:4px solid #fff;
    left:0.5rem;
    top:175%;
    transform:translateY(-175%);
}

.follow-btn-container {
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding:0.25rem 0.5rem;
}

.follow-btn {
    position: relative;
    border:1px solid var(--blue);
    color:#62b7ec;
    color:var(--blue);
    font-weight: 700;
    border-radius: 25px;
    padding:0.5rem 0.75rem;
    margin-top:0.25rem;
}


.profile__info {
    padding:0 var(--page-main-padding-lr);
    margin-top:1.5rem;
}

.profile__info__name__title {
    font-size:1.5rem;
}

.profile__info__name__id {
    color:var(--gray);
    font-weight: 400;
    font-size:1rem;
}


.profile__description {
    margin-top:0.5rem;
    line-height: 1.4;
}

.profile__additional-info {
    display:flex;
    align-items: center;
    flex-wrap: wrap;

    margin:0.75rem 0;
}

.profile__additional-info_item {
    display:flex;
    align-items: center;
    margin:0 0.25rem;
}

/* .profile__additional-info_item:first-of-type,
.profile__additional-info_item i:first-of-type {
    margin-left:0;
} */

.profile__additional-info_item i {
    margin:0 0.25rem;
}


.profile__follow-container {
    color:var(--gray);
    color:rgb(255, 58, 51);
}

.follow-container__link {
    color:#222;
    color:var(--black);

    margin-right:0.75rem;
}

.follow-container__link__number {
    font-weight:600;
}

/* .follow-container__link:first-of-type {

} */

.tweet-types {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

.tweet-types__item {
    color:gray;
    color:var(--gray-dark);
    font-weight: 600;
    letter-spacing: 0.25px;
    padding:1rem 0.5rem;
    flex-grow:1;

    display:flex;
    justify-content: center;
    align-items:center;
}

.tweet-types__item:hover {
    /*resets the blue-light-hover
    default border radius*/
    border-radius: 0;
}

.tweet-types__item__link {
    color:inherit;
}

.tweet-types__item__link:hover {
    text-decoration: none;
}

.active-tweet-item {
    border-bottom:2px solid #1DA1F2;
}



/*tweet*/
.tweet {
    display:flex;
    position: relative;
    padding:0.75rem 1rem;
    transition:all 0.25s ease;
}

.tweet:first-of-type::before,
.tweet::after  {
    content:"";
    position: absolute;
    background:var(--white-150);
    height:1px;
    width:100%;
}

.tweet:first-of-type::before {
    top:0;
    left:0;
}

.tweet::after {
    bottom:0;
    left:0;
}

.tweet:hover {
    background-color: var(--white-125);
    cursor: pointer;
}

.tweet__profile-img {
    margin-right:1rem;
}

.tweet__text-container {
    /* background:rgba(255, 0, 0, 0.247); */
}

.tweet__title-info {
    position: relative;
    display:flex;
    align-items:center;
    color:var(--gray);
    font-size:1.1rem;
    margin-bottom:0.25rem;
}

.tweet__title-info > * {
    margin:0 0.5rem;
}

.tweet__title-info > *:first-of-type {
    margin-left:0;
}

.tweet__title-info__name {
    color:#333;
    color:var(--black);
}

.tweet__title-info__id {
    position: relative;
    margin-right:1rem;
}

/*the little dot between 
.tweet__title-info__id and
tweet__title-info__date*/
.tweet__title-info__id::after {
    content:"";
    position: absolute;
    background-color: var(--gray);
    top:65%;
    left:113%;
    transform: translate(-65%, -113%);
    width:3px;
    height:3px;
    border-radius: 50%;
}

.tweet__title-info__ellipsis {
    position: absolute;
    left:100%;
    transform:translateX(-100%);
}


.tweet__actions {
    display:flex;
    justify-content: space-between;
    margin-top:0.75rem;
    width:80%;
}

.tweet__actions__text {
    margin-left:0.75rem;
}


/*hover blue*/
.tweet__actions__item {
    position: relative;
    color:var(--gray);
    /* background: #1DA1F2; */
    /* padding:0.25rem; */
}


/* .tweet__actions__item:hover 
.tweet__actions__item__icon {
    color:red;
} */





/*sidebar*/
.page__sidebar {
    /* background:red; */
    /* padding:0 1rem; */
}

.search-twitter-container {
    position: relative;
    width:100%;
    height:2.5rem;
    border-radius: 30px;
    margin-top:0.5rem;
}

.search-twitter__icon  {
    position: absolute;
    left:5%;
    top:45%;
    transform: translate(-5%, -45%);
    color:rgb(91,112,131);

}

.search-twitter__input {
    position: relative;
    border:none;
    width:100%;
    height:100%;
    border-radius:inherit;
    background-color:#EBEEF0;
    padding-left:2.5rem;  
    border: 1px solid transparent;
}

.search-twitter__input:focus:focus {
    border: 1px solid var(--blue);
}

.search-twitter-container:focus-within .search-twitter__icon {
    color:var(--blue);
}

.search-twitter__input::placeholder {
    font-size:0.9rem;
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


.sign-up-box {
    margin:1rem 0;
    padding:1rem;
    border:1px solid var(--white-150);
    border-radius: 10px;
}

.sign-up-box__heading {
    font-size:1.15rem;
}

.sign-up-box__text {
    margin:0.75rem 0;
    font-size:0.8rem;
    font-weight:400;
    color:var(--gray);
}

.sign-up-btn {
    width:100%;
    height:2.5rem;
    color:var(--white-050);
    background-color:var(--blue);
    border-radius: 25px;
    font-size:1rem;
    font-weight:700;
}

.user-photos-section {
    width:100%;
    height:12rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    grid-gap:3px;
    border-radius: 20px;
}

.user-photos-section__img {
    object-fit: cover;
    object-position: center;
}

/*top left corner*/
.user-photos-section__img:first-of-type {
    border-top-left-radius: 20px;
}
/*top right corner*/
.user-photos-section__img:nth-child(3) {
    border-top-right-radius: 20px;
}
/*bottom left corner*/
.user-photos-section__img:nth-child(4) {
    border-bottom-left-radius: 20px;
}
/*bottom right corner*/
.user-photos-section__img:last-of-type {
    border-bottom-right-radius: 20px;
}



/* used for the suggested profiles
 & the the news sections(so far)*/
.item-profile {
    margin:0.75rem 0;
    background: var(--white-100);
    border-radius: 20px;
    padding:var(--page-main-padding-lr) 0;
}

.heading-style-1 {
    font-size:1.25rem;
    color:var(--black);
    margin-bottom:0.75rem;
}

.suggested-profile__profile-container {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:var(--page-main-padding-lr) 0;
}








/*SUGGESTED PROFILE STYLES
using most of the styles from the 
ou might like section,
however overwriting with custom

*/
.suggested-profiles-container {
    position: relative;
    background-color:var(--white-100);
    margin:1rem 0;
    border-radius: 10px;
}

.suggested-profiles {
    position: relative;
    /* background:#b4abab; */
}

.suggested-profile-container {
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem;
    color:var(--gray);

    font-size:0.85rem;
}

.suggested-profiles-container__header {
    font-size:1.25rem;
    padding:0.85rem 1rem;
}

.suggested-profile {
    display:flex;
    align-items:center;
}

.suggested-profile-container:hover {
    background: var(--white-150);
    text-decoration: none;
}

.suggested-profile-container::after {
    content:"";
    position: absolute;
    width:100%;
    height:1px;
    background-color:var(--white-150);
    left:0;
    top:0;
}


.suggested-profile__profile__info {
    margin-left:0.5rem;
}

.suggested-profile__profile__name {
    color:var(--black);
}

.suggested-profile__profile__name:hover {
    text-decoration: underline;
}


.suggested-profile-container:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.show-more-btn {
    color:var(--blue);
    font-size:0.9rem;
    cursor:pointer;
}

.follow-btn-style-2 {
    padding:0.4rem 1rem;
}







.topic__tweet-hashtag {
    color:var(--black);
}

.whats-happening-item,
.whats-happening-info {
    width:100%;
    margin:0;
    padding:0;
}

.whats-happening__more-btn {
    align-self: flex-start;
}

.whats-happening__topic__topic {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}

.whats-happening__more-btn {
    position: relative;
    top:1px;
}


/*whats happening*/
.whats-happening__topic-container {
    position: relative;
    padding:1rem 0;
}

.whats-happening__topic-container::after {
    content:"";
    position: absolute;
    width:calc(100% + 2rem);
    height:1px;
    background-color:var(--white-150);
    bottom:0;
    left:-1rem;
}

.whats-happening__topic-container:first-of-type::before {
    content:"";
    position: absolute;
    width:calc(100% + 2rem);
    height:1px;
    background-color:var(--white-150);
    top:0;
    left:-1rem;
}

.whats-happening-section {
    position: relative;
    margin:0.75rem 0;
    background: var(--white-100);
    border-radius: 20px;
    padding:1rem;
}

.whats-happening__topic__heading {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.whats-happening__topic__heading {
    color:var(--gray);
    font-size:0.85rem;
}

.whats-happening__topic__topic {
    position: relative;
}

.topic__trending-topic {
    position: relative;
    margin-right:0.5rem;
}

/*the little dot between 
.tweet__title-info__id and
tweet__title-info__date*/
.topic__trending-topic::after {
    content:"";
    position: absolute;
    background-color: var(--gray);
    top:60%;
    left:120%;
    transform: translate(-60%, -117%);
    width:2px;
    height:2px;
    border-radius: 50%;
}

.topic__tweet-hashtag {
    font-size:1rem;
    margin:0.25rem 0;
}

.topic__tweet-amount {
    color:var(--gray-dark);
    font-size:0.85rem;
}



/*terms of service footer*/
.tos-footer {
    /* background:rgba(255, 0, 0, 0.123); */
}

.tos-footer__items {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size:0.8rem;
}

.tos-footer__item {
    margin:0.25rem 0.5rem;
    /* background:rgba(255, 0, 0, 0.445); */
}

.tos-footer__item,
.tos-footer__item__link {
    color:var(--gray);
}

.tos-footer__item__link:hover {
    text-decoration: underline;
    color:var(--gray);
}

/* :not(.more-link__icon:hover) {
    text-decoration: none;
} */

.item__link__more-link {
    position: relative;
    display:flex;
    align-items:center;
}

.more-link__text {
    margin-right:5px;
}

.more-link__icon {
    position: relative;
    top:1px;
}

.more-link__icon:hover {
    text-decoration: none;
}









/*media queries*/

/*
Media queries TODO list
1. 1280 px width
- on left column get ride of the text,
have only icons

2. 1095 px width
- reduce right columns size (around 0.25%ish)

3. 1000 px width remove right column completely
*/



@media(max-width:1280px) {
    .page {
        display:grid;
        grid-template-columns:minmax(1rem, 3rem) 1.5fr 1fr;
        /* grid-column-gap: 1.75rem;
        width:95%;
        max-width:80rem;
        margin:0 auto; */
    }

    .navbar__icon-container-heading {
        display:none;
        visibility: hidden;
    }
}

@media(max-width:1095px) {
    .page {
        display:grid;
        grid-template-columns:minmax(1rem, 3rem) 1.5fr 0.75fr;
        grid-column-gap: 1rem;
        
        /*width:95%;
        max-width:80rem;
        margin:0 auto;*/
    }
}

@media(max-width:1005px) {
    .page {
        display:grid;
        grid-template-columns:minmax(1rem, 3rem) 1.5fr minmax(0rem, 3rem);
        grid-column-gap: 1rem;
    }

    .page__sidebar {
        display:none;
        visibility: hidden;
    }
}


@media(max-width:700px) {
    .page {
        display:grid;
        grid-template-columns:minmax(1rem, 2.5rem) 1fr;
        grid-column-gap: 1rem;
    }

    .page__sidebar {
        display:none;
        visibility: hidden;
    }

    
}





/*TODO

1. TOS links, more icon not supposed
to have a hover effect on it(only text)

2. tweet : reply, retweet, hear, share, more btn hover state
-----
some examples of twitter profiles

https://twitter.com/adab_en
https://twitter.com/mattvsjapan
*/