@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


:root {
    /*color scheme*/
    --white-050:#fff;
    --white-100:#F7F9FA;
    --white-125:#F8F8F8;
    --white-150:#e0e2e2;
    --gray:#8A99A7;
    --gray-dark:#66727c;
    --black:#222;

    --blue:#1DA1F2;
    --blue-light:#62b7ec40;
    --green:#2ecc71;
    --red:#e74c3c;


    /*layout*/
    --page-main-padding-lr:1rem;
    
}


/*default styles*/
*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}


body {
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;  
}

li {
    list-style-type: none;
}


img {
    display:block;
    max-width:100%;
}

button {
    border:none;
    background:none;
}

a {
    color:#1DA1F2;
    color:var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}




/*-----------------------------------------*/
/*-----------------------------------------*/
/*UNIVERSAL CLASSES THAT CAN BE OVERWRITTEN*/
.profile-user {
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}
/*-----------------------------------------*/
/*-----------------------------------------*/
/*-----------------------------------------*/


/*page*/
.page {
    display:grid;
    grid-template-columns:0.5fr 1.5fr 1fr;
    grid-column-gap: 1.75rem;
    width:95%;
    max-width:80rem;
    margin:0 auto;
}





/*page navbar*/
.page__navbar__icon-container {
    display:flex;
    align-items:center;
    margin:1rem 0;
}

.page__navbar__icon {
    font-size:1.5rem;
    width:25px;
}

.fa-twitter {
    color:#1DA1F2;
    color:var(--blue);
    font-size:1.75rem;
    /* margin-top:0.5rem; */
}

.navbar__icon-container-heading {
    font-size:1rem;
    margin-left:1rem;
}





/*page main*/
.page__main {
    border:1px solid var(--white-150);
    border-bottom: 0px;
    border-top:0px;
    height:100%;
    /* background-color:rgba(128, 128, 128, 0.437); */
}

/*back button on top of profile*/
.user-back-container {
    display:flex;
    margin:0.5rem 0rem 0.5rem 1rem;
}

.back-btn {
    margin-right:2rem;
}

.back-btn__link {
    color:#1DA1F2;
    color:var(--blue);
}

.back-btn__link__icon {
    font-size:1.25rem;
}

.user-back__heading {
    font-size:1.25rem;
}

.user-back__tweet-number {
    color:var(--gray);
    font-size:0.85rem;
}



/*profile*/
.profile {
    position: relative;
}

.thing {
    position: relative;
    width:100%;
    height:200px;
    background: #e74c3c;
}


.profile__background-img {
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}


.profile__user-hero {
    position: absolute;
    width:125px;
    height:125px;
    border:4px solid #fff;
    left:0.5rem;
    top:175%;
    transform:translateY(-175%);
}

.follow-btn-container {
    width:100%;
    display:flex;
    justify-content: flex-end;
    padding:0.25rem 0.5rem;
}

.follow-btn {
    position: relative;
    border:1px solid var(--blue);
    color:#62b7ec;
    color:var(--blue);
    font-weight: 700;
    border-radius: 25px;
    padding:0.5rem 0.75rem;
    margin-top:0.25rem;
}


.profile__info {
    padding:0 var(--page-main-padding-lr);
    margin-top:1.5rem;
}

.profile__info__name__title {
    font-size:1.5rem;
}

.profile__info__name__id {
    color:var(--gray);
    font-weight: 400;
    font-size:1rem;
}


.profile__description {
    margin-top:0.5rem;
    line-height: 1.4;
}

.profile__additional-info {
    display:flex;
    align-items: center;
    flex-wrap: wrap;

    margin:0.75rem 0;
}

.profile__additional-info_item {
    display:flex;
    align-items: center;
    margin:0 0.25rem;
}

/* .profile__additional-info_item:first-of-type,
.profile__additional-info_item i:first-of-type {
    margin-left:0;
} */

.profile__additional-info_item i {
    margin:0 0.25rem;
}


.profile__follow-container {
    color:var(--gray);
    color:rgb(255, 58, 51);
}

.follow-container__link {
    color:#222;
    color:var(--black);

    margin-right:0.75rem;
}

.follow-container__link__number {
    font-weight:600;
}

/* .follow-container__link:first-of-type {

} */

.tweet-types {
    display:inline-flex;
    width:100%;
    
}

.tweet-types__item {
    color:gray;
    color:var(--gray-dark);
    font-weight: 600;
    letter-spacing: 0.25px;

    padding:1rem 0.25rem;
    /*divided by 4 because of 4 tweet-types__item*/
    width:calc(100% / 4);

    display:flex;
    justify-content: center;
    align-items:center;
}

.tweet-types__item:hover {
    background-color:#62b7ec40;
    background-color:var(--blue-light);
    cursor: pointer;
}

.tweet-types__item:hover .tweet-types__item__link {
    color:#1DA1F2;
    color:var(--blue); 
}

.tweet-types__item__link {
    color:inherit;
}

.tweet-types__item__link:hover {
    text-decoration: none;
}

.active-tweet-item {
    border-bottom:2px solid #1DA1F2;
}



/*tweet*/
.tweet {
    /* background: gray; */
    transition:all 0.25s ease;
    position: relative;
    padding:0.75rem 1rem;

    display:flex;
}

.tweet:hover {
    background-color: var(--white-125);
    cursor: pointer;
}

.tweet__profile-img {
    margin-right:1rem;
}

.tweet__text-container {
    /* background:rgba(255, 0, 0, 0.247); */
}

.tweet__title-info {
    position: relative;
    display:flex;
    align-items:center;
    color:var(--gray);
    font-size:1.1rem;
    margin-bottom:0.25rem;
}

.tweet__title-info > * {
    margin:0 0.5rem;
}

.tweet__title-info > *:first-of-type {
    margin-left:0;
}

.tweet__title-info__name {
    color:#333;
    color:var(--black);
}

.tweet__title-info__ellipsis {
    position: absolute;
    left:100%;
    transform:translateX(-100%);
}


.tweet__actions {
    /* background: red; */
    display:flex;
    justify-content: space-between;
    margin-top:0.75rem;
    width:80%;
}

.tweet__actions__text {
    margin-left:0.75rem;
}


/*hover blue*/
.tweet__actions__item {
    position: relative;
    color:var(--gray);
    /* background: #1DA1F2; */
    /* padding:0.25rem; */
}


.tweet__actions__item:hover 
.tweet__actions__item__icon {
    color:red;
}





/*sidebar*/
.page__sidebar {
    /* background:red; */
    /* padding:0 1rem; */
}

.search-twitter-container {
    position: relative;
    width:100%;
    height:2.5rem;
    border-radius: 30px;
    margin-top:0.5rem;
    /* vertical-align: top; */
}

.search-twitter__icon  {
    position: absolute;
    left:5%;
    top:45%;
    transform: translate(-5%, -45%);
    color:rgb(91,112,131);
}

.search-twitter__input {
    position: relative;
    border:none;
    width:100%;
    height:100%;
    border-radius:inherit;
    background-color:#EBEEF0;
    padding-left:2.5rem;  
}

.search-twitter__input::placeholder {
    font-size:0.9rem;
    font-family: 'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


.sign-up-box {
    /* background:red; */
    margin-top:5rem;
    margin-bottom:1rem;
    padding:1rem;
    border:1px solid var(--white-150);
    border-radius: 10px;
}

.sign-up-box__heading {
    font-size:1.15rem;
}

.sign-up-box__text {
    margin:0.75rem 0;

    font-size:0.8rem;
    font-weight:400;
    color:var(--gray);
}

.sign-up-btn {
    width:100%;
    height:2.5rem;
    color:var(--white-050);
    background-color:var(--blue);
    border-radius: 25px;
    font-size:1rem;
    font-weight:700;
}



.user-photos-section {
    width:100%;
    height:12rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    grid-gap:3px;
    border-radius: 20px;

    
}

.user-photos-section__img {
    object-fit: cover;
    object-position: center;
}

/*top left corner*/
.user-photos-section__img:first-of-type {
    border-top-left-radius: 20px;
}
/*top right corner*/
.user-photos-section__img:nth-child(3) {
    border-top-right-radius: 20px;
}
/*bottom left corner*/
.user-photos-section__img:nth-child(4) {
    border-bottom-left-radius: 20px;
}
/*bottom right corner*/
.user-photos-section__img:last-of-type {
    border-bottom-right-radius: 20px;
}


.suggested-profile {
    margin:0.5rem 0;
    background: red;
}